* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px dotted green; */
}

header,
nav,
main {
    padding: 0.8rem 12%;
}

header {
    background-color: #002056;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: white;
    font-family: "Super Sans", "Basic Commercial", sans-serif;

    a img {
        width: 160px;
        height: auto;
    }

    form {
        position: relative;
        width: 50%;

        input[type="text"] {
            padding: 0.9em 1.5em;
            width: 100%;
            border-radius: 5px;
        }

        button {
            background-color: #F17D21;
            padding: 0.82rem;
            position: absolute;
            right: 0;
            border: none;
            border-radius: 0px 5px 5px 0px;
            color: white;
        }
    }

    a {
        color: white;
        text-decoration: none;
        padding: 0.2em 1em;
    }

    .auth_btn,
    .cart_btn {
        border-right: 1px solid grey;
    }
}

nav ul {
    display: flex;
    gap: 1%;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: rgb(58, 42, 47);
            font-size: 1rem;
            font-weight: 400;
            padding: 0.5rem;
        }
    }
}


main {
    background-color: #FCFCFC;

    .carousel_image {
        width: 100%;
    }

}

section {
    padding: 3rem;
}

.category_section h2 {
    margin-bottom: 2rem;
}

.category_container {
    .exlusive_section {
        background-color: #FFFFFF;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        text-align: center;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: black;

                img {
                    height: auto;
                    width: 13rem;
                    border-radius: 50%;
                }
            }
        }
    }
}

.exlusive_section {
    h2 {
        margin-bottom: 1rem;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        li {
            list-style: none;
            text-align: center;
            width: 17rem;
            padding: 0rem 1.5rem;
            margin-top: 1rem;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;

                img {
                    width: 80%;
                    aspect-ratio: 3/3;
                }

                h4,
                .current_price {
                    text-decoration: none;
                    color: black;
                }

                h6 {
                    color: rgb(58, 42, 47);
                }
            }
        }
    }
}


.original_price {
    color: rgb(170, 170, 170);
    text-decoration: line-through;
}

.price_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7rem;

    h5 {
        color: rgb(255, 0, 0);
    }
}


/*  */
.information_section {
    background-color: #FCFCFC;

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        li {
            display: flex;
            justify-content: center;
            padding: 2rem;
            width: 100%;

            i {
                padding: 1rem;
                font-size: 1.3em;
            }

            h6 {
                font-size: 1.3rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}


/*  */
footer {
    background-color: #333232;
    color: white;
    text-align: center;
    padding: 2rem 0rem;
}

@media (max-width: 1023px) {

    header,
    nav,
    main {
        padding: 0.5rem 2%;
    }

    header {
        gap: 0rem;
        justify-content: center;
    }

    header a img {
        width: 100px;
        height: auto;
    }

    .auth_btn,
    .cart_btn span,
    nav,
    .price_wrapper {
        display: none;
    }

    header .cart_btn {
        border-right: none;
    }

    .category_container ul li a img {
        height: auto;
        width: 5rem;
        border-radius: 50%;
    }

    .category_container ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        text-align: center;
    }

    .exlusive_section ul li {
        list-style: none;
        text-align: center;
        width: 17rem;
        padding: 0rem 2rem;
    }

}